PRINTER_ADDRESS=
PRUSA_CONNECT_CAMERA_TOKEN=token-change-me
PRUSA_CONNECT_CAMERA_FINGERPRINT=fingerprint-change-me
CAMERA_DEVICE=/dev/video0
CAMERA_COMMAND=rpicam-still
CAMERA_COMMAND_EXTRA_PARAMS=--immediate --nopreview --mode 640:480 --lores-width 0 --lores-height 0 --thumb none -o
