---
site_name: "Prusa Connect Camera Script"
site_url: "https://nvtkaszpir.github.io/prusa-connect-camera-script"
repo_url: "https://github.com/nvtkaszpir/prusa-connect-camera-script"

theme:
  name: material
  features:
    - navigation.footer
    - toc.follow
    - search.suggest
    - search.highlight
    - search.share
  palette:
    primary: black
  logo: static/prusa-connect-cam.png

extra_css:
  - css/extra.css

plugins:
  - git-revision-date-localized:
      type: custom
      custom_format: "%Y-%m-%d %H:%M:%S %z (UTC)"
      timezone: Europe/Warsaw
  - search
  - mermaid2
  - tags

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences:
        # Mermaid diagrams
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format

nav:
  - About: index.md

  - Preparation:
    - Requirements: requirements.md
    - Known Limitations: known.limitations.md
    - Installation: installation.md
  - Configuration:
    - Overview: configuration.overview.md
    - Env vars: configuration.env.md
  - Prusa Connect:
    - Add camera to Prusa Connect: prusa.connect.md

  - Camera configs:
    - General overview: config.for.camera.md

    - CSI (legacy): config.for.camera.csi.legacy.md
    - CSI: config.for.camera.csi.libcamera.md
    - ESPHome Snapshot: config.for.camera.esphome.snapshot.md
    - ESPHome Stream: config.for.camera.esphome.stream.md
    - USB: config.for.camera.usb.md
    - Web Cams - Snapshot: config.for.camera.snapshot.md
    - Web Cams - MJPG streams: config.for.camera.mjpg.md
    - Web Cams - RTSP streams: config.for.camera.rtsp.md

  - Test:
    - Test Config: test.config.md
    - Troubleshooting: troubleshooting.md
  - Service:
    - Overview: service.md
    - Systemd: service.systemd.md
    - Docker: service.docker.md
    - Kubernetes: service.kubernetes.md

  - Configuration Tuning: configuration.tuning.md
  - Configuration all env vars: configuration.env.full.md

  - Performance: performance.md

  - Advanced:

    - Streaming cameras with mediamtx: stream.mediamtx.md
