[Unit]
Description=Prusa Connect Camera Script
After=network.target

[Service]
User=pi
Group=pi
EnvironmentFile=/home/pi/src/prusa-connect-camera-script/.%i
ExecStart=/home/pi/src/prusa-connect-camera-script/prusa-connect-camera.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
